	Ricerca per: 
 	<select class="field">
 		<option value="name">Nome</option>
 		<option value="lname">Cognome</option>
 		<option value="fc">C.F.</option>
 	</select>
 	 - Valore:
 	<input type="text" class="val" />
 	<input type="button" class="search" value="Cerca" />