  	<tr>
  		<th class="cell">Codice</th>
  		<th class="cell">Cliente</th>
  		<th class="cell">Data contratto</th>
  		<th class="cell">Consulente</th>
  		<th><a href="javascript://" class='add'></a></th>
  	</tr>